<h1>Edit your Profile</h1>
<%= form_for @user do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <%= f.label :avatar_url %>
  <%= f.text_field :avatar_url %>
  <%= f.label :about %>
  <%= f.text_area :about %>
  <%= f.button "Update" %>
<% end %>