<div class="jumbotron" style='background: url(<%= @restaurant.image_url %>)'>

<% if current_user %>
  <%= form_for([@restaurant, @reservation], :html => {:class => 'reservation'}) do |f| %>
    <%= f.label :num_of_seats %>
    <%= f.number_field :num_of_seats %>
    <%= f.label :time %>
    <%= f.date_field :time %>
    <%= f.time_field :time %>
    <%= f.button "Reserve Now", :class => 'btn btn-cta' %>
  <% end %>
<% else %>
  <%= link_to "Login to Make a Reservation", login_path, :class => 'btn btn-cta' %>
<% end %>

</div>

<%= @restaurant.name %>
<%= @restaurant.address %>
<%= @restaurant.open_time %>
<%= @restaurant.close_time %>
<%= @restaurant.description %>
